<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authorize</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
<div class="container container">
    <div class="row">
        <div class="form">
            <h3>Authorize as Librarian</h3>
            <form method="post">
                <div class="form-group">
                    <input type="text" autofocus id="login" name="login" class="form-control" placeholder="Your Login" value="" />
                </div>
                <div class="error" th:text="${error}">
                    Error
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit" value="Login" />
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>