<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
<div class="tableTitle">My books</div>
<div class="container">
<table class="table">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Hash</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(reader.books)}" class="blank_row">
        <td colspan="4">No books. Claim some down below.</td>
    </tr>
    <tr th:unless="${#lists.isEmpty(reader.books)}" th:each="book : ${reader.books}">
        <th scope="row" th:text="${book.id}">ID</th>
        <td th:text="${book.title}">Title</td>
        <td th:text="${book.author}">Author</td>
        <td th:text="${book.hash}">Hash</td>
        <td>
            <form method="post" action="/books/return" style="margin: 0; padding: 0; float: top;">
                <input type="hidden" name="id" th:value="${book.id}"/>
                <button type="submit" class="btn btn-danger">Return</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</div>


<div class="tableTitle">Available Books</div>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Hash</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${availableBooks}">
            <th scope="row" th:text="${book.id}">ID</th>
            <td th:text="${book.title}">Title</td>
            <td th:text="${book.author}">Author</td>
            <td th:text="${book.hash}">Hash</td>
            <td>
                <form th:if="${book.isClaimed}" method="post" action="/books/claim" style="margin: 0; padding: 0; float: top;">
                    <input type="hidden" name="id" th:value="${book.id}"/>
                    <button type="submit" class="btn btn-secondary" disabled>Pending</button>
                </form>
                <form th:unless="${book.isClaimed}" method="post" action="/books/claim" style="margin: 0; padding: 0; float: top;">
                    <input type="hidden" name="id" th:value="${book.id}"/>
                    <button type="submit" class="btn btn-primary">Claim</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>